GearIndicator#gearIndicator[change=true] {
    background-color: red;
}

GearIndicator#gearIndicator[stay=true] {
    background-color: white;
}

GearIndicator#gearIndicator[ready=true] {
    background-color: yellow;
}

GearIndicator#gearIndicator {
    width: 50px;
}

ParamWidget {
    border: 1px solid black;
}